.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, #0097FF, #b5ebf5);
    color: #a27a35;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90vw;
    margin-top: 100px;
    margin-bottom: 200px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
}

.titleContainer {
    font-size: 2em;
    margin-bottom: 40px;
}

.subtitleContainer {
    font-size: 20px;
    margin-bottom: 10px;
}

.callToAction {
    background-color: #508094;
    padding: 20px;
    margin-left: 20px;
    transition: 0.5s;
}

.callToAction:hover {
    cursor: pointer;
    font-size: 45px;
}

.ctaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.ctaContainer a {
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #010101;
    color: #a27a35;
    font-weight: 600;
}

@media (min-width: 800px) {
    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .mainContainer{
        margin-top: 150px;
    }

    .titleContainer {
        align-items: center;
        justify-content: center;
        font-size: 4em;
        width: 80vw;
        margin-bottom: 140px;
        padding: 30px;
    }
    
    .subtitleContainer {
        font-size: 30px;
        width: 80vw;
        padding: 30px;
    }

    .ctaContainer {
        flex-direction: row;
    }

    .ctaContainer a {
        font-size: 2em;
        margin-top: 200px;
        margin-right: 10px;
    }
}

@media (min-width: 1200px) {
    .titleContainer {
        width: 80vw;
    }
    
    .subtitleContainer {
        width: 80vw;
    }
    
    .ctaContainer a {
        font-size: 2.5em;
    }
}

@media (min-width: 1600px) {
    .titleContainer {
        width: 60vw;
    }
    
    .subtitleContainer {
        width: 60vw;
    }
    
    .ctaContainer a {
        font-size: 3em;
    }
}