.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, #0097FF, #b5ebf5);
    padding: 20px 20px 200px;
    color: #a27a35;
}

.titleContainer {
    font-size: 2em;
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.subtitleContainer {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.callToAction {
    background-color: #508094;
    padding: 20px;
    margin-left: 20px;
    transition: 0.5s;
}

.callToAction:hover {
    cursor: pointer;
    font-size: 45px;
}

.ctaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.ctaContainer a {
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #010101;
    color: #a27a35;
    font-weight: 600;
}

@media (min-width: 800px) {
    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .titleContainer {
        align-items: center;
        justify-content: center;
        font-size: 4em;
        width: 50%;
        margin-top: 250px;
        margin-bottom: 140px;
    }
    
    .subtitleContainer {
        font-size: 30px;
        width: 50%;
        margin-bottom: 80px;
    }

    .ctaContainer {
        flex-direction: row;
    }

    .ctaContainer a {
        font-size: 2em;
        margin-top: 350px;
        margin-right: 10px;
    }
}