.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 20px 200px;
    background: linear-gradient(0deg, #0097FF, #b5ebf5);
    color: #a27a35;
}

.services p {
    margin-top: 50px;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
    padding-bottom: 40px;
}

.services small {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    font-size: 20px;
}

.servicesList {
    font-size: 20px;
    text-align: left;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    list-style: none;
}

.servicesList li {
    padding-bottom: 20px;
}

.logoImg {
    width: 298px;
    height: 193px;
    padding-bottom: 80px;
}

@media (min-width: 800px) {
    .services {
        font-size: 2.5em;
    }
    
    .services p {
        margin-top: 200px;
    }

    .servicesList {
        font-size: 30px;
    }
    
    .logoImg {
        width: 596px;
        height: 386px;
    }
}
