* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body, html {
    place-items: center;
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.swiper-container {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.swiper {
    display: flex;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    border-radius: 10px;
    width: 90%;
    height: 100%;
}

@media (min-width: 800px) {
    .swiper-container {
        width: 50%;
        height: 50%;
        margin-right: 0;
    }

    .swiper {
        width: 60%;
        height: 702px;
        margin-right: 0;
    }

    .swiper-slide img {
        height: 100%;
    }
}

